body {
background: rgb(255, 255, 255);
color: rgba(8,66,94,255);
font-family: 'Open Sans', sans-serif;
font-size: 15px;
font-weight: bold;
letter-spacing: 2px;
}
img {
border-radius: 50%;
}
.profile-picture {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: auto;
height: auto;
max-width: 300px;
}
.profile-name {
text-align: center;
padding: 30px;
}
.links {
text-align: center;
margin-top: 10px;
padding: 20px;
border: 1px solid rgb(0, 0, 0);
border-width: 2px;
width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 40px;
}
a {
text-decoration: none;
color: rgba(8,66,94,255);
transition: color 1s;
}
.bottom-text {
text-align: center;
margin-top: 40px;
font-size: 20px;
font-weight: bold;
}
a:hover {
color: rgba(8,66,94,255);
background: rgba(163,84,69,255);
}